.file-main {
  height: 100dvh;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.file-main-inner {
  padding-left: 560px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.file-table {
  border-collapse: collapse;
  width: 80%;
  border: none;
  table-layout: fixed;
}

.file-table tr {
  border: none;
}

.file-table tbody th,
.file-table tbody td {
  padding: 5px 0;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  border: none;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.file-table th:nth-child(3){
  text-align: center;
}
.file-table thead th {
  text-align: left;
  padding: 10px 0;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  border-bottom: 1px solid #F0F1F3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.file-table th:nth-child(1),
.order-column {
  width: 7%;
  text-align: center;
  position: relative;
}

.order-column span {
  position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.info-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.info-column div {
  line-height: 46px;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-col {
  flex: 0 0 20%;
  text-align: center;
}

.title-col {
  flex: 0 0 50%;
}

.date-col {
  flex: 0 0 30%;
}

.file-table th:nth-child(3),
.download-column {
  width: 10%;
  position: relative;
}

.download-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.category {
  padding: 6px 10px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .file-main-inner {
    padding-left: 0;
    margin: 50px auto;
  }

  .file-table {
    width: 95%;
  }

  .file-table thead {
    display: none;
  }

  .file-table tbody tr {
    display: flex;
    align-items: center;
  }
  .file-table tbody th,
  .file-table tbody td {
    padding: 15px 0;
  }

  .order-column {
    width: 15%;
    text-align: center;
  }

  .info-column {
    width: 70%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

  .download-column {
    width: 15%;
    text-align: center;
  }

  .category-col {
    text-align: left;
  }
  .info-column div {
    line-height: 32px;
    height: 32px;
  }
}