.writing-main {
    padding-left: 280px;
    height: 100dvh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.writing-header-container {
    background-color: #4F6B8A;
    color: #fff;
    padding: 10px;
    padding-left: 350px;
    font-size: 16px;
}
.writing-container {
    flex: 1;
    margin: 20px 40px;
    padding-left: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.writing-container > hr {
    border: none;
    height: 1px;
    background-color: #E6E8EB;
    margin: 0;
}
.button-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.save-button {
    background-color: #001832;
    color: #fff;
    min-width: 72px;
    height: 36px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.save-button:disabled {
    cursor: not-allowed;
}
.save-button.short-content {
    color: rgba(0, 24, 50, 0.14);
    background-color: white;
    cursor: not-allowed; 
    border: 1px solid rgba(0, 24, 50, 0.14);
}
.feedback-guide {
    font-size: 14px;
    color: #444444;
    margin-left: 5px;
}
.writing-description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
}
.description-label {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    background-color: #F0F1F3;
    padding: 8px;
    border-radius: 10px;
    margin-right: 10px;
    word-break: keep-all;
}
.writing-content-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 10px;
    flex: 1;
}
.writing-content-container > hr {
    border: none;
    width: 1px;;
    background-color: #E6E8EB;
    margin: 0;
}
.writing-label,
.feedback-label {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    background-color: #F0F1F3;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
}
.writing-label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content-length {
    font-size: 12px;
    color: #444444;

}
.writing-content-container > div {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#writing-content,
#feedback-content {
    border: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    resize: none;
    word-break: keep-all;
    z-index: 10;
}
element.style {
    height: auto;
}
#feedback-content:focus {
    outline: none;
}
#feedback-content{
    cursor: pointer;
    flex: 1;
}
#feedback-content:disabled {
    background-color: transparent; 
    cursor: not-allowed;
}
.feedback-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 1px solid #E6E8EB;
    padding-left: 20px;
}
.hover-div {
    background-color: #00183266;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    color: #fff;
    font-size: 16px;
}
.hover-div p{
   padding: 0;
   margin: 0;
}
.hover-div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 215px;
}

@keyframes blink {
    0% {
        background-color: #F0F1F3;
    }
    50% {
        background-color: #ADD3FF;
    }
    100% {
        background-color: #F0F1F3;
    }
}

.blink-effect{
    animation: blink 0.7s step-start 0s infinite;
}

#writing-content:focus{
    outline: none;
}
#writing-content:disabled {
    background-color: transparent; 
}

.writing-state-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}
.writing-state-color.approve {
    background-color: #65FF4D;
}
.writing-state-color.submitted{
    background-color: #FFA24D;
}
.writing-state-color.not-approved{
    background-color: #FF4D4D;
}
.writing-state-color.not-submitted{
    display: none;
}
.writing-score-wrapper {
    border-left: 1px solid #465F7A;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: 10px;
}
.my-writing-score {
    font-size: 16px;
}
.total-writing-score {
    font-size: 10px;
}


@media screen and (max-width: 900px) {
    .writing-main {
        padding-left: 0;
    }
    .writing-container {
        padding-left: 0;
        margin: 20px 10px;
    }
    .writing-menu > h2 {
        display: none;
    }
    .total-score-container {
        margin-top: 10px;
    }
    .writing-header-container {
        padding-top: 58px;
        border-radius: 0 0 16px 16px;
        padding-left: 30px;
        background-color: #193553;
    }
    .writing-content-container {
        flex-direction: column;
        gap: 0;
    }

    .writing-content-container > div {
        width: 100%;
    }

    .writing-content-container > hr {
        border: none;
        height: 1px;
        width: 100%;
        background-color: #E6E8EB;
        margin: 0;
        margin-bottom: 10px;
    }
}